/* .carousel-inner > .inner > img{
    height: 50%;
    width: 50%;

}
.carousel slide{
    height: 500px;
} */
/* .carousel-inner{
    height: 70%;
    width: 70%;
} */
body {
    background-image: url('fondoo.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    font-family: 'Oswald', sans-serif;
}}
body {
    position: relative; /* Asegura que el cuerpo tenga una posición relativa */
    font-family: 'Oswald', sans-serif;
}

.logo{
	 height:500px; 
}
.centrarlogo{
            text-align: center; /* Centra horizontalmente */
	    background-color: #FFC0CB;
        }
 .container {
    max-width: 800px;
    background-color: #fff;
    margin: 5% auto;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden;
    box-sizing: border-box;
    box-shadow: 0 10px 35px rgba(0, 0, 0, 0.4);
   
}


.text-center {
  text-align: center;
  margin-bottom: 1em;
}

.lightbox-gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.lightbox-gallery div > img {
  max-width: 100%;
  display: block;
}

.lightbox-gallery div {
  margin: 10px;
  flex-basis: 180px;
}

@media only screen and (max-width: 480px) {
  .lightbox-gallery {
    flex-direction: column;
    align-items: center;
  }

  .lightbox > div {
    margin-bottom: 10px;
  }
}
/* Estilos para el contenedor */
.contenedor {
    
    background-color: #f0f0f0;
    padding: 20px;
}

/* Estilos para el texto */
.texto {
	text-align: center; /* Centrar el texto en el contenedor */
    font-size: 24px;
    color: #333;
 

}
.viñetas {
    font-size: 24px;
    color: #333;
    margin-left: 20px;

}

/*Lighbox CSS*/

.lightbox {
  display: none;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 20;
  padding-top: 30px;
  box-sizing: border-box;
}

.lightbox img {
  display: block;
  margin: auto;
}

.lightbox .caption {
  margin: 15px auto;
  width: 50%;
  text-align: center;
  font-size: 1em;
  line-height: 1.5;
  font-weight: 700;
  color: #eee;
}

.github-link {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.7);
}

.github-link:hover,
.github-link:active,
.github-link:visited {
  color: #fff;
  text-decoration: none;
}
{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navegacion{
	
	background-color:#C71585;
	text-align: left;
}

.navegacion ul{
	list-style: none;
}


.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #fff;
	text-decoration: none;
}

.menu li a:hover{
	color: #FFC0CB;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #C71585;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
	border-top-left-radius: 0;
        border-top-right-radius: 0;
        border-bottom-left-radius: 10px; /* Radio de borde inferior izquierdo */
        border-bottom-right-radius: 10px; /* Radio de borde inferior derecho */
}

.submenu li a{
	display: block;
	padding: 5px;
	color: #fff;
	text-decoration: centre;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
}
  .card-img-container {
    position: relative;
    overflow: hidden;
    padding-top: 100%; /* Establece la altura de la imagen como un porcentaje para que sea un cuadrado */
  }

  .card-img-container img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: auto;
  }
  .cursor-pointer {
  cursor: pointer;
}
.modal-dialog {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}

.modal-content {
  width: auto;
  max-width: 100%;
  height: auto;
  max-height: 100%;
  margin: 0;
}

.modal-body {
  text-align: center;
  padding: 0;
}

.modal-body img {
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
}

.col-md-4{
    border-color: white;
    border: 3px;
}
body{
    margin-top: 50px;
    /* scroll-padding-top: 200px;
    scroll-margin-top: 80px; */
    background-color: whitesmoke;
}
.col{
    scroll-margin-top: 80px;
}
.container{
    align-items: center;
    text-align: center;
    
    
}
h1{
    /* margin: 30px; */
    padding-top: 15px;
    padding-bottom: 15px;
}
.h1dark{
    color: whitesmoke;
    font-size: 30px;
    text-align: center;
}
.pdark{
    color: white;
    font-size: 20px;
    text-align: center;
}
.separador{
    height: 30px;
    background-color: white;
}
.imgpresentaciion{
    /* width: 100%; */
    height: 300px;
    object-fit: none;
    /* border-radius: 2%; */
    
} 
.logo{
    height: 100px;
    /* padding-bottom: 20px; */
}
.h1-bottom{
    font-size: 50px;

}
.pbottom{
    padding-top: 15px;

}
.izqyder{
    background-color: #5D9C59;
}
.contenedor {
    position: relative;
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
}
.video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.parrafo{
    padding: 10px;
    /* margin-left: 10px;
    margin-right: 10px; */
}
.centered-container {
            text-align: center; /* Centra horizontalmente */
        }

.divh5{
	background-color: #C71585;
	  text-align: center;
}
h5{
    font-size: 14px;
    color: #FFC0CB;
}
footer {
   background-color: #C71585;
    padding: 5px;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}
.boton-container {
    text-align: center; /* Centrar horizontalmente */
}

.boton-enlace {
    display: inline-block;
    padding: 10px 20px;
    background-color: #FFC0CB; /* Color de fondo del botón (puedes cambiarlo) */
    color: #C71585; /* Color del texto en el botón (puedes cambiarlo) */
    text-decoration: none;
    border: none;
    border-radius: 5px; /* Radio de borde del botón (puedes cambiarlo) */
    font-weight: bold;
}

.boton-enlace:hover {
    background-color: #C71585; /* Color de fondo del botón al pasar el cursor (puedes cambiarlo) */
    color: #FFC0CB;
}
.productosul{
	color: #333
}
p {
    margin-left: 20px; /* Margen izquierdo de 20 píxeles */
    margin-right: 20px; /* Margen derecho de 20 píxeles */
    text-align: justify; /* Texto justificado */
  }
